html{
  font-family:arial, "lucida console", sans-serif;
  text-align: justify;
  color: #e6e6e6
}

body {
  background-color: #333333;
}

article {
  clear: left;
}

h1{
  font-size: 40px;
  text-align: center;
  margin-top: 100px;
  text-shadow: 8px 8px 4px #000000;
}

p {
  clear: left;
}

dl > dt{
  margin-top: 20px;
  font-weight: 700;
  clear: left;
}

nav {
  margin-bottom: 100px;
}

ul {
  background-color: #aaaaaa;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(to right, #4d4d4d, #a6a6a6);
}

li {
  float: left;
}

li a {
  color: white;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

img {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}

article {
  margin-left: 25px;
  margin-right: 100px;
}
